body {
  background-image: url("../img/fond.jpg");
  background-size: 100% 300px;
  background-position: bottom center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  text-align: center;

}

.bouge {
  position: absolute;
  top: 300px;
  left: 51%;
  transform: translate(25%, -50%);
}

.panneau {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(25%, -50%);
  width: 100px;
  height: 50px;
  text-align: center;
}

.autre-image {
  position: absolute;
  top: 100px;
  left: -30%;
  animation: slideInOut 2s infinite;
  animation-play-state: paused;

}

.bip-bip {
  position: absolute;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  top: 1%;
  left: 25%;
  transform: translate(-100%, 500%);
  visibility: hidden;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.rotate-center {
  width: 500px;
  height: 200px;
  background-color: blue;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rotate-center:hover {
  animation: rotate-center 0.3s ease-in-out both;
}

.rotate-once:hover {
  animation-iteration-count: infinite;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideInOut {
  0% {
    transform: translateX(0%) scale(0.1);
  }

  50% {
    transform: translateX(150%) scale(0.3);
  }

  100% {
    transform: translateX(400%) scale(0.1);
  }
}

@keyframes bip-bip {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.container:hover .bip-bip {
  visibility: visible;
  animation: bip-bip 1.5s linear both;
}

.container:hover .autre-image {
  animation-play-state: running;
  animation-iteration-count: 1;

}